################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PostmatesSDK/bin/Release
/PostmatesSDK/obj
/SDKUnitTest/bin
/SDKUnitTest/obj
/PostmatesSDK/bin/Debug/netstandard1.2
*.user
/PostmatesSDK/bin/Debug
